.btn {
    /* Pseudo clases link (for anchor links *normal state) visited(once you clicked the link) */
    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem; /* top-bottom right-left*/
        display: inline-block;
        border-radius: 10rem; /* para redondear solo importa que sea un numero alto */
        transition: all  .2s ; /* all the animation properties are avalible */
        position: relative;
        font-size: $default-font-size;

        // change for the <button> element
        border: none;
        cursor: pointer;
    }
    &:hover {
        transform: translateY(-.3rem);
        /* box sha  X   y  blur  color*/
        box-shadow: 0 1rem 2rem rgba($color-black, .2);

        &::after{
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }
    /* When you click the element */
    &:active,
    &:focus {
        outline: none;
        transform: translateY(-.1rem);
        box-shadow: 0 .5rem 1rem rgba($color-black, .2);
    }

    &--white {
        background-color: $color-white;
        color: $color-grey-dark;

        &::after{
            background-color: $color-white;
        }
    }

    &--green {
        background-color: $color-primary;
        color: $color-white;

        &::after{
            background-color: $color-primary;
        }
    }

    /* after o before crean un hijo del elemento con sus caracteristicas */
    &::after{
        content: ""; /* Es necesario para que aparezca*/
        display: inline-block; 
        width: 100%; /* es con respecto al ancho de su padre*/
        height: 100%; /* con respecto al alto de su padre */
        border-radius: 10rem; 
        position: absolute; /* se posiciona respecto al elemento relative inmediatamente anterior, por eso el padre debe tener positio relative */
        top: 0; /* respecto a la posicion del padre*/
        left: 0; /* respecto a la posicion del padre*/
        z-index: -1;
        transition: all .4s;
    }

    &--animated{
        animation: moveInBottom .5s ease-out .75s;
        animation-fill-mode: backwards;
    }
}

.btn-text {
    &:link,
    &:visited {
        font-size: $default-font-size;
        color: $color-primary;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-primary;
        padding: 3px;
        transition: all .2s;
    }

    &:hover {
        background-color: $color-primary;
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-black, .15);
        transform: translateY(-2px);
    }

    &:active {
        box-shadow: 0 .5rem 1rem rgba($color-black, .15);
        transform: translateY(0);
    }
}