.header {
    height: 95vh; /* 95% de alto del viewport*/ 
    background-image: linear-gradient(
        to right bottom,  
        rgba($color-primary-light, 0.80),
        rgba($color-primary-dark, 0.80)), 
        url(../img/hero.jpg);  /* Hacia la esquina baja derecha hace el gradiente y con dos backgrounds */ 
    background-size: cover; /* Fit la imagen para que se vea bien */
    background-position: top; /* Ensure that the imagen is always on the top (center or bottom too) */
    position: relative;
    
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100% );
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100% );

    &__logo-box{
        position: absolute;
        top: 4rem;
        left: 4rem;
    }

    &__logo {
        height: 3.4rem;
    }
    
    &__text-box {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}