/* basic reset using universal selector */
*,
*::after,
*::before {
    /* Selecciona todos y cada uno de los elementos para dar reiniciar sus caracteristicas */
    margin: 0;
    padding: 0;
    box-sizing: inherit; /* todos los elementos adquieren border-box property */
}

html {
    // This define what 1rem is
    font-size: 62.5%; /* To have a easy live (calculate all the rems with 10px is easy) no usar px, usar un % del fs del root para que el usuario pueda manipular la vista a su antojo y la pagina se adapte, en este caso 62.5% para que de 10px */
}

body {
    box-sizing: border-box; 
}