
body {
    /* Se colocan aquí para que el resto de elementos hereden las caracteristicas */
    font-family: "Lato", sans-serif; 
    font-weight: 400; /* Just the overall */
    /* font-size: 16px; Just the overall */
    line-height: 1.7; /* 1.7 mas de lo normal */
    color: $color-grey-dark; /* Color de letras */
    padding: 3rem; /* Una especie de espacio en toda el body *No se hereda */
}

.heading-primary {
    color: $color-white;
    text-transform: uppercase;

    backface-visibility: hidden; /* to disapear the little bit shaky in the animation */
    margin-bottom: 6rem;

    &--main {
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;
        /* animation: name duration timing-function delay iteration-count direction fill-mode; */
        animation: moveInLeft 1s ease-out;
    }
    &--sub {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.75rem;
        animation: moveInRight 1s ease-out;
    }
}

.heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: .2rem;
    transition: all .2s;

    &:hover {
        transform: skewY(2deg) skewX(15deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
    }
}

.heading-tertiary {
    font-size: $default-font-size;
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph {
    font-size: $default-font-size;

    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}